<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    
</head>
<body>
    <div class="background-container"></div>
    <header>
      <h1 style="font-family: 'Arial', sans-serif; color: #030303; 
        text-align: center; margin-top: 50px; font-size: 48px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
         background-color: #ecf0f1; padding: 20px; border-radius: 10px; 
         box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">Welcome to {{pageTitle}}</h1>

        <nav>
            <ul>
                <li><a href="#" class="decks-button">Decks</a></li>
                <li><a href="#" class="teams-button">Teams</a></li>
                <li><a href="#" class="favorites-button">Favorites</a></li>
                <li><a href="#" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </header>
      {{{body}}}
    <footer>
        <p>{{currentYear}}</p>
    </footer>
    <script src="{{scriptSrc}}"></script>
</body>
</html>
