    <main>
        <h1>Teams</h1>
           {{#each data.results}}
    <div>
    <a href ="/pokemon/{{name}}" >{{name}}</a>
    <div class="pokemon-item">
            <a href="/pokemon/{{name}}" class="pokemon-link">{{name}}</a>
          <span class="favorite-button" data-name="{{name}}">☆</span>
        </div>
    </div>
{{/each}}

    </main>


