    <main>
        <h1>Pokedex</h1>
           {{#each data}}
    <div class= "pokemon-item-box">
    {{!-- <a href ="/pokemon/{{name}}" >{{name}}</a>  --}}
    <div class="pokemon-item">
            <a href="/pokemon/{{name}}" class="pokemon-link">{{name}}</a>
            {{#if favorited}}
            <span style="color: yellow; fill: yellow" class="favorite-button" data-id="{{id}}" data-name="{{name}}">☆</span>
            {{else}}
            <span class="favorite-button" data-id="{{id}}" data-name="{{name}}">☆</span>
            {{/if}}
        </div>
    </div>
{{/each}}

    </main>


