<main>
  <h1>Pokedex</h1>
  <input
    type='text'
    id='searchInput'
    placeholder='Search for Pokemon'
  />
  <ul id='pokemon-list'>
    {{#each data}}
      <div class='pokemon-item-box'>
        <li class='pokemon-item'>
          <a href='/pokemon/{{name}}' class='pokemon-link'>{{name}}</a>
          {{#if favorited}}
            <a
              data-favorited='true'
              style='color: yellow; fill: yellow'
              class='favorite-button'
              data-id='{{id}}'
              data-name='{{name}}'
            >☆</a>
          {{else}}
            <a
              data-favorited='false'
              class='favorite-button'
              data-id='{{id}}'
              data-name='{{name}}'
            >☆</a>
          {{/if}}
        </li>
      </div>
    {{/each}}
  </ul>
</main>

<script src='/js/search.js'> </script>
<script src='/js/favorite.js'> </script>